@model IEnumerable<WebsiteBlogCMS.Data.Slider>

@{
    ViewBag.Title = "Slajdy";
    Layout = "~/Views/_AdminPanelLayoutPage.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Lista slajdów</h1>
    @Html.Partial("../Shared/_Message")
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <span><i class="fas fa-table me-1"></i> Slajdy</span>
                @Html.ActionLink("Utwórz", "Create", "Slider", null, new { @class = "btn btn-success", type = "button" })
            </div>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            Tytuł
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Tytuł
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.title)
                            </td>
                            <td>
                                @Html.ActionLink("Edytuj", "Edit", "Slider", new { id = item.id }, new { @class = "btn btn-warning", type = "button" })

                                <button type="button" class="btn btn-info" data-toggle="modal" onclick="loadPartialView('Detail', @item.id)">
                                    Szczegóły
                                </button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" onclick="loadPartialView('Delete', @item.id)">
                                    Usuń
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div id="myModal">
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    jQuery.noConflict(); // Use this only once

    function loadPartialView(operation, id) {
        var url = '@Url.Action("LoadPartialView", "Slider")';

        jQuery.ajax({
            url: url,
            type: 'GET',
            data: { operation: operation, id: id },
            success: function (data) {
                $('#myModal').html(data);
                $('#' + operation + 'Slider-' + id).modal('show');
            },
            error: function () {
                alert('Error loading partial view.');
            }
        });
    }
</script>