@model WebsiteBlogCMS.Data.Post

<div class="modal fade" id="DetailPost-@Model.id" aria-labelledby="DetailPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetailPostLabel">Szczegóły postu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        Tytuł
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.title)
                    </dd>

                    <dt class="col-sm-4">
                        Utworzono
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.createdAt)
                    </dd>

                    @if (Model.published)
                    {
                        <dt class="col-sm-4">
                            Opublikowano dnia
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.publishedAt)
                        </dd>
                    }
                    else
                    {
                        <dt class="col-sm-4">
                            Status
                        </dt>
                        <dd class="col-sm-8">
                            Nie zatwierdzony
                        </dd>
                    }

                    <dt class="col-sm-4">
                        Widoczny
                    </dt>
                    <dd class="col-sm-8">
                        @if (!Model.published)
                        {
                            @:Nie
                        }
                        else
                        {
                            @:Tak
                        }
                    </dd>

                    @if (Model.updatedAt != null)
                    {
                        <dt class="col-sm-4">
                            Ostatnia modyfikacja
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.updatedAt)
                        </dd>
                    }

                    <dt class="col-sm-4">
                        Zatwierdzono dnia
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.publishedAt)
                    </dd>

                    <dt class="col-sm-4">
                        Kategorie
                    </dt>
                    <dd class="col-sm-8">
                        <div id="selectedCategories"></div>
                    </dd>

                    <dt class="col-sm-4">
                        Treść
                    </dt>
                    <dd class="col-sm-8">
                        <button id="previewButton" type="button" class="btn btn-info">
                            Podgląd
                        </button>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div id="previewModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe id="previewIframe" class="tox-dialog__iframe" sandbox="allow-scripts allow-same-origin"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var previewButton = document.getElementById('previewButton');
    previewButton.addEventListener('click', function () {
        var previewIframe = document.getElementById('previewIframe');
        var content = @Html.Raw(ViewBag.Content);

        previewIframe.contentDocument.body.innerHTML = content;
        previewIframe.style.width = '100%';
        previewIframe.style.height = '100%';

        var previewModal = new bootstrap.Modal(document.getElementById('previewModal'));
        previewModal.show();
    });
</script>

<script>
    var categoriesOptions = @Html.Raw(ViewBag.Categories);

    categoriesOptions.forEach(function (category) {
        var selectedCategoriesDiv = $('#selectedCategories');
        var categoryBox = $('<span class="badge rounded-pill bg-primary m-1"></span>').text(category.label);
        selectedCategoriesDiv.append(categoryBox);
    });
</script>