@model WebsiteBlogCMS.Models.PostsOfTagModel
@using PagedList.Mvc

@{
    Layout = "~/Views/_BlogLayoutPage.cshtml";
}

<div class="w3l-homeblock2 w3l-homeblock5 py-5">
    <div class="container pt-md-4 pb-md-5">
        <!-- block -->
        <h3 class="category-title mb-3">@Model.Tag.title</h3>
        
        <div class="row">
            @if (Model.Posts.Any())
            {
                foreach (var post in Model.Posts)
                {
                    <div class="col-lg-6 mt-4">
                        <div class="bg-clr-white hover-box">
                            <div class="row">
                                <div class="col-sm-5 position-relative">
                                    <a href="@Url.Action("Details", "Post", new { id = post.id })" class="image-mobile">
                                        @if (post.image != null && post.image.Length > 0)
                                        {
                                            <img id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(post.image.ToArray()))" alt="Image" class="card-img-bottom d-block radius-image-full" />
                                        }
                                    </a>
                                </div>
                                <div class="col-sm-7 card-body blog-details align-self">
                                    @Html.ActionLink($"{post.title}", "Details", "Post", new { id = post.id }, new { @class = "blog-desc" })
                                    <div class="author align-items-center">
                                        @if (post.User.profileImage != null && post.User.profileImage.Length > 0)
                                        {
                                            <img id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(post.User.profileImage.ToArray()))" alt="Image" class="img-fluid rounded-circle" />
                                        }
                                        <ul class="blog-meta">
                                            <li>
                                                @Html.ActionLink($"{WebsiteBlogCMS.Classes.DataHelper.UserUtils.GetUserName(post.authorId)}", "Details", "User", new { id = post.authorId }, null)
                                            </li>
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> @post.createdAt </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="mb-sm-5 mb-4 max-width">Brak postów dla danego tagu</p>
            }
        </div>

        <div class="site-pagination text-center mt-md-5 mt-4 d-flex justify-content-center">
            <ul class="pagination">
                @{
                    if (Model.Posts.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("PostsOfTag", new { page = Model.Posts.PageNumber - 1, id = Model.Tag.id })" aria-label="Previous">
                                <span aria-hidden="true" style="user-select: none;">&laquo;</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <span class="page-link" aria-hidden="true" style="user-select: none;">&laquo;</span>
                        </li>
                    }

                    for (var i = 1; i <= Model.Posts.PageCount; i++)
                    {
                        if (i == Model.Posts.PageNumber)
                        {
                            <li class="page-item active" aria-current="page">
                                <span class="page-link" style="user-select: none;">@i</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("PostsOfTag", new { page = i, id = Model.Tag.id })" style="user-select: none;">@i</a>
                            </li>
                        }
                    }

                    if (Model.Posts.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("PostsOfTag", new { page = Model.Posts.PageNumber + 1, id = Model.Tag.id })" aria-label="Next">
                                <span aria-hidden="true" style="user-select: none;">&raquo;</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <span class="page-link" aria-hidden="true" style="user-select: none;">&raquo;</span>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>