@model IEnumerable<WebsiteBlogCMS.Data.Post>

@{
    Layout = "~/Views/_BlogLayoutPage.cshtml";
}

<div class="w3l-homeblock2 w3l-homeblock5 py-5">
    <div class="container pt-md-4 pb-md-5">
        <!-- block -->
        <h3 class="category-title mb-3">@ViewBag.Title</h3>
        <p class="mb-sm-5 mb-4 max-width">Lorem ipsum dolor sit amet elit. Id quaerat amet ipsum sunt et quos dolorum.</p>
        <div class="row">
            @foreach (var post in Model)
            {
                <div class="col-lg-6">
                    <div class="bg-clr-white hover-box">
                        <div class="row">
                            <div class="col-sm-5 position-relative">
                                <a href="@Url.Action("Details", "Post", new { id = post.id })" class="image-mobile">
                                    <img class="card-img-bottom d-block radius-image-full" src="~/images/beauty7.jpg" alt="Card image cap">
                                </a>
                            </div>
                            <div class="col-sm-7 card-body blog-details align-self">
                                @Html.ActionLink($"{post.title}", "Details", "Post", new { id = post.id }, new { @class = "blog-desc" })
                                <div class="author align-items-center">
                                    <img src="~/images/a1.jpg" alt="" class="img-fluid rounded-circle">
                                    <ul class="blog-meta">
                                        <li>
                                            @Html.ActionLink($"{WebsiteBlogCMS.Classes.DataHelper.GetUserName(post.authorId)}", "Details", "User", new { post.authorId }, null)
                                        </li>
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> @post.createdAt </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <ul class="site-pagination text-center mt-md-5 mt-4">
            <li><span aria-current="page" class="page-numbers current">1</span></li>
            <li><a class="page-numbers" href="#page2">2</a></li>
            <li><a class="page-numbers" href="#page3">3</a></li>
            <li><span class="page-numbers dots">…</span></li>
            <li><a class="page-numbers" href="#page7">7</a></li>
            <li><a class="next page-numbers" href="#next">Next »</a></li>
        </ul>
    </div>
</div>