@model WebsiteBlogCMS.Data.Slider

@{
    ViewBag.Title = "Edytuj slajd";
    Layout = "~/Views/_AdminPanelLayoutPage.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Utwórz slajd</h1>
    @Html.Partial("../Shared/_Message")
    @using (Html.BeginForm("Edit", "Slider", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-floating mb-3">
            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", placeholder = "sample" } })
            <label for="title">Tytuł</label>
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>

        <div class="form-floating mb-3">
            <div class="input-group">
                @Html.TextAreaFor(model => model.description, new { @class = "form-control", @placeholder = "Treść", @rows = "4", @id = "tiny" })
            </div>
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>

        <div class="modal-footer">
            @Html.ActionLink("Anuluj", "Sliders", "Admin", null, new { @class = "btn btn-secondary", type = "button" })
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    }
</div>