@model WebsiteBlogCMS.Data.Category

<div class="modal fade" id="CreateCategory-@Model.id" aria-labelledby="CreateCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateCategoryLabel">Stwórz kategorię</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Category", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-floating mb-3">
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", placeholder = "sample" } })
                        <label for="login">Nazwa</label>
                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-floating mb-3">
                        @Html.DropDownListFor(model => model.parentId, new SelectList(ViewBag.Categories, "id", "title"), "Brak", new { @class = "form-control" })
                        <label asp-for="parentId">Kategoria nadrzędna (opcjonalne)</label>
                        @Html.ValidationMessageFor(model => model.parentId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-floating mb-3">
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.content, new { @class = "form-control", @placeholder = "Opis", @rows = "4" })
                        </div>
                        @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>