@model WebsiteBlogCMS.Data.Category

<div class="modal fade" id="DeleteCategory-@Model.id" aria-labelledby="DeleteCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteCategoryLabel">Czy jesteś pewien, że chcesz usunąć kategorię?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        Nazwa
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.title)
                    </dd>
                    <dt class="col-sm-3">
                        Kategoria nadrzędna
                    </dt>
                    <dd class="col-sm-9">
                        @if (Model.parentId == null)
                        {
                            @Html.Display("Brak");
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Category1.title)
                        }
                    </dd>
                    <dt class="col-sm-3">
                        Opis
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.content)
                    </dd>
                </dl>
                @using (Html.BeginForm("Delete", "Category", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="submit" value="Delete" class="btn btn-primary">Delete</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>