@model WebsiteBlogCMS.Models.UserDetailsModel

@{
    Layout = "~/Views/_BlogLayoutPage.cshtml";
}

<!-- single user -->
<section class="text-11 py-5">
    <div class="text11 py-lg-5 py-md-4">
        <div class="container">
            <div class="blog-title px-md-5">
                <h3 class="title-big">
                    Profil
                </h3>
                <ul class="blog-list">
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text11-content">
                        <div class="author-detalis">
                            <dev class="author-image">
                                @if (Model.User.profileImage != null && Model.User.profileImage.Length > 0)
                                {
                                    <img id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(Model.User.profileImage.ToArray()))" alt="Image" class="img-fluid rounded-circle" style="width: 100px; height: 100px;" />
                                }
                            </dev>
                            <div class="author-info align-self-end">
                                <h4 class="mt-sm-3">@WebsiteBlogCMS.Classes.DataHelper.UserUtils.GetUserName(Model.User.id)</h4>
                                <ul class="blog-meta">
                                    <li>
                                        <span class="meta-value">
                                            @Html.DisplayFor(model => model.User.Role.name)
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <h4 class="mt-sm-3">O mnie</h4>
                        <p class="mt-4 mb-3">
                            @Model.User.profile
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="blog-title px-5">
                <ul class="blog-list">
                </ul>
                <h3 class="aside-title">
                    Posty autora (@Model.User.Posts.Where(x => x.isVisible).ToList().Count())
                </h3>
            </div>
        </div>
        <div class="container pt-md-4 pb-md-5">
            <div class="row">
                @foreach (var post in Model.UserPosts)
                {
                    <div class="col-lg-6 mt-4">
                        <div class="bg-clr-white hover-box">
                            <div class="row">
                                <div class="col-sm-5 position-relative">
                                    <a href="@Url.Action("Details", "Post", new { id = post.id })" class="image-mobile">
                                        @if (post.image != null && post.image.Length > 0)
                                        {
                                            <img id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(post.image.ToArray()))" alt="Image" class="card-img-bottom d-block radius-image-full" style="height:100%;object-fit:cover"/>
                                        }
                                    </a>
                                </div>
                                <div class="col-sm-7 card-body blog-details align-self">
                                    @Html.ActionLink($"{post.title}", "Details", "Post", new { id = post.id }, new { @class = "blog-desc" })
                                    <div class="author align-items-center">
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> @post.createdAt </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="site-pagination text-center mt-md-5 mt-4 d-flex justify-content-center">
                <ul class="pagination">
                    @{
                        if (Model.UserPosts.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Details", new { page = Model.UserPosts.PageNumber - 1, id = Model.User.id })" aria-label="Previous">
                                    <span aria-hidden="true" style="user-select: none;">&laquo;</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <span class="page-link" aria-hidden="true" style="user-select: none;">&laquo;</span>
                            </li>
                        }

                        for (var i = 1; i <= Model.UserPosts.PageCount; i++)
                        {
                            if (i == Model.UserPosts.PageNumber)
                            {
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link" style="user-select: none;">@i</span>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Details", new { page = i, id = Model.User.id })" style="user-select: none;">@i</a>
                                </li>
                            }
                        }

                        if (Model.UserPosts.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Details", new { page = Model.UserPosts.PageNumber + 1, id = Model.User.id })" aria-label="Next">
                                    <span aria-hidden="true" style="user-select: none;">&raquo;</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <span class="page-link" aria-hidden="true" style="user-select: none;">&raquo;</span>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //single user -->