@model WebsiteBlogCMS.Models.HomeContent
@using System.Text

@{
    Layout = "~/Views/_BlogLayoutPage.cshtml";
}


<!-- /homeblock1-->
<section class="w3l-homeblock1 py-sm-5 py-4">
    <div class="container py-md-4">
        <div class="grids-area-hny main-cont-wthree-fea row justify-content-center">
            @foreach (var item in Model.CategoryPicks)
            {
                <div class="col-lg-3 col-6 grids-feature">
                    <a href="@Url.Action("PostsOfCategory", "Post", new { id = item.id })">
                        <div class="area-box">
                            <h4 class="title-head">@item.title</h4>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!-- //homeblock1-->

<section class="w3l-testimonials" id="testimonials">
    <!-- main-slider -->
    <div class="testimonials pt-2 pb-5">
        <div class="container pb-lg-5">
            <div class="owl-testimonial owl-carousel owl-theme mb-md-0 mb-sm-5 mb-4">
                @foreach (var item in Model.SliderPicks)
                {
                    <div class="item">
                        <div class="row slider-info">
                            <div class="col-lg-8 message-info align-self">
                                <h3 class="title-big mb-4">
                                    @item.title
                                </h3>
                                <p class="message mb-5">
                                    @item.description
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-8 img-circle mt-lg-0 mt-4">
                                @if (item.image != null && item.image.Length > 0)
                                {
                                    <img id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(item.image.ToArray()))" alt="Image" class="img-fluid radius-image-full" />
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /main-slider -->
</section>
<div class="w3l-homeblock2 py-5">
    <div class="container py-lg-5 py-md-4">
        <!-- block -->
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="section-title-left mb-4"> Editor's Pick </h3>
                <div class="row">
                    @foreach (var item in Model.EditorsPicks)
                    {
                        <div class="col-lg-6 col-md-6 item">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="@Url.Action("Details", "Post", new { id = item.id })">
                                        @if (item.image != null && item.image.Length > 0)
                                        {
                                            <img id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(item.image.ToArray()))" alt="Image" class="card-img-bottom d-block radius-image-full" />
                                        }
                                    </a>
                                </div>
                                <div class="card-body blog-details">
                                    @if (item.PostCategories != null && item.PostCategories.Any())
                                    {
                                        <div>
                                            @foreach (var category in item.PostCategories)
                                            {
                                                <span class="label-blue">@category.Category.title</span>
                                            }
                                        </div>
                                    }
                                    <a href="@Url.Action("Details", "Post", new { id = item.id })" class="blog-desc">
                                        @item.title
                                    </a>
                                    <p>
                                        @WebsiteBlogCMS.Classes.HtmlHelper.TruncateHtml(item.content, 50)
                                    </p>
                                    <div class="author align-items-center mt-3 mb-1">
                                        @if (item.User.profileImage != null && item.User.profileImage.Length > 0)
                                        {
                                            <img id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(item.User.profileImage.ToArray()))" alt="Image" class="img-fluid rounded-circle" />
                                        }
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="author.html">@item.User.firstName @item.User.lastName</a>
                                            </li>
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value">@item.publishedAt</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w3l-homeblock3 py-5">
    <div class="container py-lg-5 py-md-4">
        <h3 class="section-title-left mb-4"> Top Pick's of this month </h3>
        <div class="row top-pics justify-content-center">
            @foreach (var item in Model.TopMonthPicks)
            {
                <div class="col-lg-4 col-md-6">
                    <div id="profileImage" style="background-image: @(item.image != null ? $"url('data:image/*;base64,{Convert.ToBase64String(item.image.ToArray())}')": "none");">
                        <div class="card-body blog-details">
                            <a href="@Url.Action("Details", "Post", new { item.id })" class="blog-desc">
                                @item.title
                            </a>
                            <div class="author align-items-center">
                                @if (item.User.profileImage != null && item.User.profileImage.Length > 0)
                                {
                                    <img id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(item.User.profileImage.ToArray()))" alt="Image" class="img-fluid rounded-circle" />
                                }
                                <ul class="blog-meta">
                                    <li>
                                        <a href="author.html">@item.User.firstName @item.User.lastName</a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> @item.publishedAt </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="w3l-homeblock2 w3l-homeblock6 py-5">
    <div class="container-fluid px-sm-5 py-lg-5 py-md-4">
        <!-- block -->
        <h3 class="section-title-left mb-4"> Trending Now</h3>
        <div class="row justify-content-center">
            @foreach (var item in Model.TopPicks)
            {
                <div class="col-lg-6">
                    <div class="bg-clr-white hover-box">
                        <div class="row">
                            <div class="col-sm-6 position-relative">
                                <a href="@Url.Action("Details", "Post", new { @item.id })">
                                    @if (item.image != null && item.image.Length > 0)
                                    {
                                        <img id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(item.image.ToArray()))" alt="Image" class="card-img-bottom d-block radius-image-full" />
                                    }
                                </a>
                            </div>
                            <div class="col-sm-6 card-body blog-details align-self">
                                @if (item.PostCategories != null && item.PostCategories.Any())
                                {
                                    <div>
                                        @foreach (var category in item.PostCategories)
                                        {
                                            <span class="label-blue">@category.Category.title</span>
                                        }
                                    </div>
                                }
                                <a href="@Url.Action("Details", "Post", new { @item.id })" class="blog-desc">
                                    @item.title
                                </a>
                                <p>
                                    @WebsiteBlogCMS.Classes.HtmlHelper.TruncateHtml(item.content, 50)
                                </p>
                                <div class="author align-items-center mt-3">
                                    @if (item.User.profileImage != null && item.User.profileImage.Length > 0)
                                    {
                                        <img id="imagePreview" src="data:image/*;base64,@(Convert.ToBase64String(item.User.profileImage.ToArray()))" alt="Image" class="img-fluid rounded-circle" />
                                    }
                                    <ul class="blog-meta">
                                        <li>
                                            <a href="author.html">@item.User.firstName @item.User.lastName</a>
                                        </li>
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> @item.publishedAt </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>